<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDA7EE6926F391D500A09953</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDEA9DC326EA14E000A38305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDEA9DD926EA14E900A38305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
